div{
  
margin: auto ;
  width: 20%;
  height :300px;
 text-align: center
  
  
  
  
}
.e3{  
  color: black;
font-size: 40px;
text-align: center;
letter-spacing:5px;
margin: 0 0 -3px 



  
}
p{ 
  color : red;

  
  
  
}
.clbb 
{
  
  background-color:  silver;
  border:1px  black double;
  border-radius: 5px ;
  
  
  
  
}
.er{
text-align: center ;
  
  
  
}